.gallery {
    display: flex;
    flex-wrap: wrap;
}

.photo {
    margin: 10px;
    cursor: pointer;
}

.photo img {
    max-width: 200px;
    max-height: 150px;
    transition: transform 0.2s;
}

.photo img:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    text-align: center;
    cursor: pointer;
}

.modal-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.color-button-back {
    background-color: #a9a7aa;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 6px 12px;
    font-size: 1.2em;
    box-shadow: 0px 0px 5px 0px #2c2c2c;
    cursor: pointer;
    bottom: 20px; 
  }

  .container {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 15px;
    max-width: 500px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.contenedor {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 15px;
    max-width: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  h1{
    color: red;
  }

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #f4f4f4;
}

.pagination a.active {
  background-color: #007bff;
  color: #fff;
}

