button {
    background: black;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
            red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

/*
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.romantic-message {
    text-align: center;
}

.heart {
    width: 50px;
    height: auto;
    margin: 0 9px;
    animation: heartbeat 1s infinite;
}



body {
    font-family: Arial, sans-serif;
    background-color: #ffcccc;
    margin: 0;
    padding: 0;
}


body::before {
    content: "";
    background: url('Img/hearts.png') repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.move1{
    position: absolute;
    top: 30px;
    right: 12px;
}

.move2{
    position: absolute;
    top: 20px;
    right: 19px;
}

.move3{
    position: absolute;
    top: 17px;
    right: 54px;
}



@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}